.section-CV-intro {
  align-content: start;
  align-items: start;
}
.CV-grid {
  grid-template-columns: 1fr 3fr;
  column-gap: 2rem;
}
.CV-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.CV-photo {
  max-width: 100%;
  min-width: 30%;
  padding-right: 1rem;
}
.CV-intro {
  max-width: 50rem;
  margin: 3rem 0 5rem 0;
}
.CV-short-intro {
  line-height: 1.6;
  max-width: 40rem;
}
.CV-margin-btm {
  margin-bottom: 5rem;
}
.CV-titles {
  margin-bottom: 3rem;
}
