/********************************/
/******** B A S I C S *********/
/********************************/
.section-projects {
  padding-top: 3rem;
}
.projects {
  max-width: 120rem;
}

.project-btn {
  min-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.project-img {
  width: 100%;
  height: auto;
  display: block;
}

.project-img-small {
  max-width: 8vw;
  min-width: 4.2vw;
  display: block;
  margin-bottom: 1rem;
}
.section-projects button {
  border: none;
}

.project-titles {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  margin-left: 4.5rem;
}
.project-details {
  display: flex;
  justify-content: space-around;

  align-items: center;

  padding: 0.8rem 1.1rem !important;
  background-color: black;
}
.udmurt-img {
  padding-top: 2rem;
  background-color: black;
}

/********************************/
/******** O V E R L A Y *********/
/********************************/

.project {
  position: relative;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.project:hover .overlay {
  opacity: 1;
}
.project-details {
  bottom: 0;
  left: 0;
}

/********************************/
/***** T Y P O G R A P H Y ******/
/********************************/

.project-infos {
  display: flex;
  flex-direction: column;
}

.project-details p {
  background-color: black;

  text-align: start;
}
.project-details span {
  display: block;
  font-weight: 100;
  font-style: italic;
  padding: 0.3rem 0.4rem;
}
.project-title {
  margin-bottom: 0.3rem;
}

/********************************/
/*********** T A G S ************/
/********************************/

.text-tags {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 100;
  margin-right: 4rem;
  letter-spacing: 0.05rem;
  line-height: 1.1;
}
.tags {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  margin-right: 5rem;
}
.tags span {
  color: rgb(215, 215, 215);
  border: solid 1px rgb(215, 215, 215);
}
